@charset "utf-8";

/* font-family: 'Russo One', sans-serif; */
/* иконочный шрифт */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: black;

}
h1{
    font-size: 28pt;
}
h3{
    font-size: 18pt;
}
.main-header {
	/* background: url(../img/IMG_4682.jpg) rgb(255, 255 ,255) 50%  no-repeat; */
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	max-height: 750px;
}

/* Миксины */
.container {
	width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}
.clearfix::after {
	display: block;
	content: "";
	clear: both;
}
.main-logo-block,
.main-navigation-block,
.user-bucket-block {
	float: left;
}
.user-bucket-block {
	margin: 20px 0 20px 140px;
}
.main-logo-block {
	margin-right: 70px;
	margin-left: 5px;
}


.main-navigation-block {
	margin: 20px 0;
	background-color: rgba(251, 251, 251, 0.7);    
	border-radius: 5px;
}

.main-navigation-list li {
	display: inline-block;
	margin: 0 10px;
}
.main-navigation-list a {
	display: block;
	text-decoration: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #bc131a;            /*Бордовый*/
	padding: 10px 0;
}
.main-navigation-list a:hover {
	color: #016f3e;
}
.main-navigation-list-active:hover {
	color: #016f3e;
}
.main-navigation-list-active {  
	display: block;
	text-decoration: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	color: #bc131a;
	padding: 10px 0;
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,141,79,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0,141,79,1);
	box-shadow: inset 0px -2px 0px 0px rgba(0,141,79,1);
	cursor:pointer;
}

.user-bucket-block a {
	display: block;
	text-decoration: none;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	color: yellow;            /*Бордовый*/
	padding: 10px 10px;
	cursor: pointer;
	position: relative;
}
.user-bucket-block a:hover {
	color: #016f3e
}
.user-bucket-block a::before {
	display: block;
	position: absolute;
	left: -15px;
	content: "\62";
	font-family: "symbols-nerds";
	font-size: 16px;
	line-height: 20px;
	color: yellow;
	font-weight: normal;
}
.user-bucket-block a:hover::before {
	color: #016f3e
}

.main-title {
	font-family: 'Russo One', sans-serif;
	font-size: 22px;
	line-height: 30px;
	padding: 10px 0;
	color: #bc131a;
	position: relative;
}
.main-title::after {
	display: block;
	width: 60px;
	height: 40px;
	content: "";
	position: absolute;
	top: 38px;
	right: 0px;
	background: url(../img/for-logo.png);
	background-size: cover;
}

.main-title::before {
	display: block;
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: 9px;
	left: -7px;
	border: 2px solid #016f3e;
}


.main-header-advert-block {
	padding: 30px 10px 30px 10px;
	position: relative;
}
.main-header-advert-block ul li {
	margin: 10px 0;
}
.main-header-advert-block h2 {
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	color: white;
	line-height: 50px;
	/* font-weight: bold; */
	/* background-color: rgba(251, 251, 251, 0.7); */
	display: inline-block;
	padding: 0 10px 0 5px;
	border-radius: 5px;
	margin-bottom: 15px;
/* 	text-shadow: 2px 0px 2px rgba(204, 150, 150, 1); */
	
}
a.btn {
	text-decoration: none;

}
.header-advert-btn {
	position: absolute;
	display: none;
	width: 200px;
	background-color: #bc131a;
	line-height: 20px;
	font-size: 16px;
	font-weight: 700;
	color: white;            /*Бордовый*/
	text-align: center;
	padding: 10px;
	border-radius: 30px;
	bottom: 170px;
	right: 200px;
	border: 4px solid #eee;
}
.header-advert-btn:hover {
	border-color: #016f3e;
	background-color: #ec1a22;
	transition: border-color .6s;
	transition: background-color .6s;

}
.header-contact a {
	text-decoration: none;
	position: absolute;
	display: block;
	color: #eee;
	font-family: 'Russo One', sans-serif;
	line-height: 25px;
	font-size: 22px;
	top: 40px;
	right: 10px;
}

.header-contact a:nth-child(2n) {
	top: 70px;
}

/* адапт шапка */
@media (max-width: 600px) {

.container {
	widows: 560px;
	padding: 0 10px;
	margin: 0 auto;
}

.main-header {
	background-color: #eee;
	background-image: none;
}

.main-logo-block,
.main-navigation-block,
.user-bucket-block {
	display: block;
	float: none;
}

.main-navigation-list li {
	display: block;

}

.user-bucket-block {
	margin: 0;
}



}
/* Адапт не до конца */

.main-content {
	position:relative;
    z-index:1;
    background-color: #f8f8f8;

}

.main-footer {
	background-color: #bc131a;
	height: 600px;

	min-height: 100vh;
	max-height: 750px;
/*     height: 245px; */
/*     color:#ccc; */
/*     font-size:12px; */
    position:relative;
    z-index:-2;
/*     background-color:#31353a; */
    display: block;

}


.footer-aboutus,
.footer-contact,
.footer-location {
	float: left;
	width: 300px;
	height: 250px;
	padding: 0 20px 20px 0;
	margin-right: 70px;
	margin-bottom: 40px;
}
.footer-aboutus {
	padding-right: 0;
	width: 320px;
}
.footer-aboutus .main-title {
	color: #fff;
	padding-bottom: 25px;
}

.footer-location {
	margin-right: 0;
}

.footer-title {
	font-family: 'Russo One', sans-serif; 
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color:#fff;
	padding: 20px 0;
}

.about {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.contact-title {
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 45px;

}
.contact-list li {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	padding: 0 0 11px 74px;
}

.footer-map {
	height: 300px;
}
.footer-fixed {
	z-index: -1;
	position: fixed;
	bottom: 0;
/* 	left: 50%;
 *//* 	margin-left: -550px; */
	width: 100%;

}









/* вставка-каталог-начало */

.main-catalog {
	height: 100vh;
    min-height: 690px;
    max-height: 800px;
    position: relative;
    text-align: center;
}
.catalog{
    text-align: center;
}

.category{
    margin-left: 10%;
    font-style: italic;
}
.showcase {
	margin:20px auto;
	max-width: 1100px;
    width: 100%;
	list-style: none;
	padding: 0 0 40px 40px;
	height: 244px;
}
.showcase ul{
    text-align: center;
}
.showcase li {
	float: left;
	width: 315px;
	height: 244px;
	overflow: hidden;
	margin: 0 35px 0 0;
}
.showcase a {
	display: block;
	width: 315px;
	height: 244px;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}
.showcase a img {
	width: 315px;
	height: 244px;
	margin: 0 auto;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover img {
	width: 315px;
	height: 213px;
	left: 0px;
	top: -10px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
}
.showcase a p {
	background: #bc131a;
	color: #fff;
	font-size: 11px;
	padding: 12px 20px;
	position:absolute;
	bottom:-100px;
	line-height: 20px;
	display: block;
	width: 100%;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover p {
	bottom: 0;
}
.showcase a h3 {
	font-size: 13px;
    font-weight: 600;
	text-transform: uppercase;
	color: white;
	background: #bc131a;
	width: 100%;
	padding: 8px 10px;
	position: absolute;
	bottom:0px;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.showcase a:hover h3 {
	bottom:94px;
    color: yellow;
}
.showcase a h3 i {
	width: 33px;
	height: 26px;
	position: absolute;
	right: -34px;
	top: 0;
	background: #59A214;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	padding:6px 0 0 0;
}
.showcase .thumb2 a p, .showcase .thumb2 a h3 {
	background: #F68B28;
}
.showcase .thumb2 a:hover p, .showcase .thumb2 a:hover h3 {
	background: #F16B17;
}
.showcase .thumb2 a h3 i {
	background: #F68B28;
}
.showcase .thumb2 a:hover h3 i {
	background: #F16B17;
}
.showcase .thumb3 a p, .showcase .thumb3 a h3 {
	background: #0065BB;
}
.showcase .thumb3 a:hover p, .showcase .thumb3 a:hover h3 {
	background: #0046A2;
}
.showcase .thumb3 a h3 i {
	background: #0065BB;
}
.showcase .thumb3 a:hover h3 i {
	background: #0046A2;
}
/* вставка-каталог-конец */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-attachment: fixed;
}
